
@font-face {
   font-family: 'Futura PT';
   font-style: normal;
   font-weight: 350;
   src:
        url('../fonts/FuturaPT-Book.woff2') format('woff2'), 
        url('../fonts/FuturaPT-BookObl.woff') format('woff');
 }

 @font-face {
   font-family: 'Futura PT';
   font-style: normal;
   font-weight: 500;
   src: 
        url('../fonts/FuturaPT-Medium.woff2') format('woff2'), 
        url('../fonts/FuturaPT-Medium.woff') format('woff');
 }

 @font-face {
   font-family: 'Futura PT';
   font-style: normal;
   font-weight: 700;
   src: 
        url('../fonts/FuturaPT-Bold.woff2') format('woff2'),
        url('../fonts/FuturaPT-Bold.woff') format('woff'); 
 }